
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "New Post", new_post_path %>
<ul> 
  <% @recent_posts.each do |post|%>
  <li>
  <%= link_to(post) do %>
    <%= post.title%>: <%= post.date.to_formatted_s(:short)%>: <%= post.user.first_name%>
  <% end %>
  </li>
  <% end %>
</ul>

<ul class="example-news" data-orbit>
  <li>
    <img src="http://i.telegraph.co.uk/multimedia/archive/03365/charlotte-christen_3365281k.jpg" alt="slide 1" />
    <div class="orbit-caption">
      A royal Princess for England: Princess Charlotte is born.
    </div>
  </li>
  <li class="active">
    <img src="http://i.dailymail.co.uk/i/pix/2013/12/11/article-2521765-1A059E1300000578-512_964x644.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Heavy fog delays flights across Europe.
    </div>
  </li>
  <li>
    <img src="http://wallpaperrs.com/uploads/travel-world/english-countryside-wide-wallpaper-21549.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Hottest November day.
    </div>
  </li>
</ul>

  

