<div class="medium-4 columns">
  <div class="th">
  
  <%= post.read_count %>
  <%= link_to(post) do %>
  <%= image_tag post.photo.url %>
    <%= post.title%>: <%= post.date.to_formatted_s(:short)%>: <%= post.user.first_name%>
  <% end %>
  </div>
  </div>

