<p id="notice"><%= notice %></p>

<h3>
  <%= @post.title %>
</h3>

<h5><strong><%= @post.date.to_formatted_s(:short) %>, <%= @post.location %></strong></h5>

<p>
  <%= @post.body %>
</p>

<p>
  <%= @post.user.first_name %> <%= @post.user.last_name %>
</p>


<p>
<div id="map-canvas" style="width: 200px; height: 200px;"> <%= @post.latitude %><%= @post.longitude %>
</div>
</p>

<p>
  <b>Image:</b>
  <%= link_to image_tag(@post.photo.url), @post.photo.url %>
</p>



<script type="text/javascript">
  function initialize() {
    var myCenter = { lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var mapOptions = {
      center: myCenter,
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
    var marker = new google.maps.Marker({
      position: myCenter,
      map: map
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

